{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<section class="container mb-3">
	<h1 class="text-center mt-5 mb-3">Download</h1>
	<p style="width: 70%; margin: 0 auto;">Mô tả: <span>
		Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng hơn 2000 tuổi.
	</span></p>
</section>

<section class="container mb-3">
	<div class="row" style="width: 70%; margin: 0 auto;">
		{% for download in downloads %}
			<div class="col-xs-6 col-md-4 align-items-stretch p-0">
				<div class="box_shadow_baby d-flex flex-column m-2 p-2">
				<!-- Box for picture, description, add to cart form -->
					<div class="relative mb-4">

						<!-- Picture -->
						<div>
							<a href="{{ download.get_absolute_url }}">
								<img class="d-block relative w-100" src="{% if download.image %} {{ download.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" style="z-index: 600; border: 1px solid #fff; border-radius: 4px;" alt="{{ download.name }}">
							</a>
						</div>

					</div>
					<!-- Box for name and price -->
					<div class="row" style="min-height: 60px;">
						<div class="col-12 text-center maven_font pr-0">
							<a class="desc_a" style="color: #111; font-size: 18px;" onmouseover="changeTextColorOn({{ forloop.counter0 }})" onmouseleave="changeTextColorOff({{ forloop.counter0 }})" href="{{ download.get_absolute_url }}">{{ download.name }}</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

{% endblock %}