{% extends 'base/base.html' %}

{% block content %}

<section class="container mb-3">
	<h1 class="text-center mt-5 mb-3">{{ download.name }}</h1>
</section>

<section class="container mb-3">
	<table class="table table-striped mb-3">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">6 months</th>
				<th scope="col">1 year</th>
				<th scope="col">2 years</th>
				<th scope="col">5 years</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					
				</th>
			</tr>
		</tbody>
	</table>
</section>

{% endblock %}